.form {
    display: flex;
    flex-direction: column;
    >* { //Selects all direct descendants, we can place a child in a div to prevent it from being a direct descendant.
      margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}


